<template>
 

  <div id="mymessageM">
    
    <el-row :gutter="20">
      <div class="row">
       <el-col :span="3">
        <el-input
          placeholder="商品名"
          v-model="select.title"
          clearable
          size="mini"
        ></el-input>
      </el-col>

      <el-col :span="2">
        <el-select
          placeholder="分类"
          filterable
          clearable
          size="mini"
          style="width:100%"
          v-model="select.ifRelease"
          @change="initPagedata"
        >
          <el-option
            :value='1'
            label="一类"
          ></el-option>
          <el-option
            :value='2'
            label="二类"
          ></el-option>
           <el-option
            :value='3'
            label="三类"
          ></el-option>
           <el-option
            :value='4'
            label="四类"
          ></el-option>
           <el-option
            :value='5'
            label="五类"
          ></el-option>
           <el-option
            :value='6'
            label="六类"
          ></el-option>
           <el-option
            :value='7'
            label="七类"
          ></el-option>
           <el-option
            :value='8'
            label="八类"
          ></el-option>
        </el-select>
      </el-col>

      <el-col :span="2">
        <el-select
          placeholder="口味"
          filterable
          clearable
          size="mini"
          style="width:100%"
          v-model="select.ifRelease"
          @change="initPagedata"
        >
          <el-option
            :value='1'
            label="辣"
          ></el-option>
          <el-option
            :value='2'
            label="不辣"
          ></el-option>
        </el-select>
      </el-col>

       <el-col :span="2">
        <el-select
          placeholder="规格"
          filterable
          clearable
          size="mini"
          style="width:100%"
          v-model="select.ifRelease"
          @change="initPagedata"
        >
          <el-option
            :value='1'
            label="散装"
          ></el-option>
          <el-option
            :value='2'
            label="袋装"
          ></el-option>
        </el-select>
      </el-col>

       <el-col :span="2">
        <el-select
          placeholder="上/下架"
          filterable
          clearable
          size="mini"
          style="width:100%"
          v-model="select.ifRelease"
          @change="initPagedata"
        >
          <el-option
            :value='1'
            label="上架"
          ></el-option>
          <el-option
            :value='2'
            label="下架"
          ></el-option>
        </el-select>
      </el-col>
     
      <el-col :span="4">
        <el-button
          size="mini"
          @click="initPagedata"
        >查询</el-button>
        <el-button
          size="mini"
          type="success"
          @click="dialogFormVisible=true"
        >新增</el-button>
      </el-col>
      </div>
    </el-row>
    <div class="warestable">
    <el-table
      :data="tableData"
      border
      height="550"
      style="width: 100%;margin:10px 0px;"
      :header-cell-style="{textAlign:'center'}"
      :cell-style="{textAlign:'center'}"
    >
      <el-table-column
        label="序号"
        type="index"
        width="50"
      ></el-table-column>

       <el-table-column
        prop="title"
        label="产品名"
        width="200"
      ></el-table-column>

      <el-table-column
        prop="title"
        label="产品简介"
        width="300"
        
      >
      </el-table-column>

      <el-table-column
        prop="createName"
        label="展示图"
        width="120"
      ></el-table-column>
      <el-table-column
        prop="columns"
        label="分类"
        width="120"
      ></el-table-column>
      <el-table-column
        prop="updateDate"
        label="详情图"
        width="300"
      ></el-table-column>
      <el-table-column
        prop="receptionStaff"
        label="产品介绍"
        width="300"
      >
      </el-table-column>
      <el-table-column
        prop="viewed"
        label="要求"
        width="80"
      ></el-table-column>

      <el-table-column
        prop="viewed"
        label="购买信息名"
        width="150"
      ></el-table-column>

      <el-table-column
        width="240"
        label="操作"
      >
        <template slot-scope="scope">
            <el-button
              style="cursor: pointer;margin-right:10px;background:#29ba9c;color:#fff;"
              :style="scope.row.ifRelease==2?'opacity: 1;':'opacity: 0.6;'"
              size="mini"
              @click="handlerEdit(scope.row,0)"
              :disabled="scope.row.ifRelease==2?false:true"
            >编辑</el-button>
            <el-tag
              style="cursor: pointer; background:#fd3666;;color:#fff;"
              @click="handlerdelete(scope.row.id)"
            >删除</el-tag>
        </template>
      </el-table-column>
    </el-table>
    </div>
    <p style="text-align:center">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="select.page"
        :page-size="select.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalElements"
      ></el-pagination>
    </p>
    <!-- 公告详情 start -->
     <el-dialog
       title="公告详情"
       width="860px"
       :visible.sync="dialogFormVisible3"
        >
        <div id="details">
          <h2 :title="messageBulletin.title">
            <span style="margin-left:15px">{{messageBulletin.title}}</span>
          </h2>
          <!-- <el-row
            :gutter="15"
            style="margin-left:15px;background: #f9f9f9"
          >
            <el-col>
              发布人员：
              <span>{{messageBulletin.createName}}</span>
            </el-col>
            <el-col>
              发布时间：
              <span>{{messageBulletin.updateDate}}</span>
            </el-col>
            <el-col>
              接收人员：
              <span>{{messageBulletin.receptionStaff}}</span>
            </el-col>
            <el-col>
              浏览次数：
              <span>{{messageBulletin.viewed}}</span>
            </el-col>
          </el-row>          -->
          <p class="summary">
               <span>
                   发布人员：<i>{{messageBulletin.createName}}</i>
               </span>

               <span>
                  发布时间：<i>{{messageBulletin.updateDate}}</i>
               </span>

               <span>
                    接收人员：<i>{{messageBulletin.receptionStaff}}</i>
               </span>
               <span>
                   浏览次数： <i>{{messageBulletin.viewed}}</i>
               </span>
          </p>
          <div
            class="ql-snow content"
            v-html="messageBulletin.details"
          >
          </div>
          <hr style="margin-top:20px;">
          <ul>
            <li
              v-for="(item,index) in messageBulletin.attachmentfileIds"
              :key="index"
              @click="downloadFiles(item.id)"
              style="margin:5px 0px"
            >
              
              <span>{{item.name}}</span>
              <span style="margin-left:20px">{{item.size}}kb</span>
            </li>
          </ul>
        </div>
    </el-dialog>
    <!-- 公告详情 end -->
   
    <!-- 公告弹窗 start -->
    <el-dialog
      title="新增商品"
      :visible.sync="dialogFormVisible"
      width="850px"
      style="min-width:650px"
      @close="resetdata('messageBulletin')"
      >
      <el-form
        label-width="110px"
        size="mini"
        :model="messageBulletin"
        ref="messageBulletin"
      >
        <el-form-item
          label="产品名:"
          prop="title"
          :rules="[{ required: true, message: '产品名不能为空', trigger: 'change' }]"
        ><el-col :span="5">
          <el-input  v-model="messageBulletin.title"></el-input>
           </el-col>
        </el-form-item>

       
        <el-form-item 
          label="产品简介:"
          prop="title"
          :rules="[{ required: true, message: '产品简介不能为空', trigger: 'change' }]"
        ><el-col :span="10">
          <el-input v-model="messageBulletin.title" type="textarea" :rows="4"></el-input>
           </el-col>
        </el-form-item>
       

        <div class="cover" style="margin-top:-150px;float:right; width:370px; height:10px;">
        <el-form-item
          label="封面图片:" 
          prop="coverPhotoId"
          :rules="[{ required: true, message: '请上传封面图片', trigger: 'change' }]"
        >
          <el-upload
            action=''
            :multiple="false"
            :auto-upload="false"
            :limit="coverPhotoIdlist.length>0?2:1"
            :file-list="coverPhotoIdlist"
            list-type="picture-card"
            :on-change="coverPhotoSelect"
          >
            <i class="el-icon-picture"></i>
          </el-upload>
        </el-form-item>
        </div>


        <el-form-item
          label="金额:"
          prop="title"
          :rules="[{ required: true, message: '金额不能为空', trigger: 'change' }]"
        ><el-col :span="5">
          <el-input  v-model="messageBulletin.title"></el-input>
           </el-col>
        </el-form-item>


        <el-form-item label="分类:"
         :rules="[{ required: true, message: '分类不能为空', trigger: 'change' }]"
        >
            <el-col :span="15">
              <el-select
                placeholder="请选择"  
              >
                <el-option
                  v-for="(item,index) in ['一类','二类','三类','四类','五类','六类','七类','八类']"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-form-item>
          
       

        <div style="margin-top:40px;">
        <el-divider></el-divider>
        </div>
        <div style="margin-top:-30px; font-size:16px">更多信息</div>
         
       <div style="float:right; width:370px; height:10px;">
            <el-form-item label="口味:">
            <el-col :span="15">
              <el-select
                placeholder="请选择"  
              >
                <el-option
                  v-for="(item,index) in ['辣','不辣']"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-form-item>

           <el-form-item label="规格:">
            <el-col :span="15">
              <el-select
                placeholder="请选择"  
              >
                <el-option
                  v-for="(item,index) in ['散装','袋装']"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-form-item>
      </div>


        <el-form-item
          label="详情图:" 
          prop="coverPhotoId"
          :rules="[{ required: true, message: '请上传详情图片', trigger: 'change' }]"
        >
          <!-- :http-request="fileNameUpload" -->
          <div style="padding: 0.4rem 0.2rem;">
            <el-upload
              class="upload-demo"
              drag
              action
              multiple
              ref="upload"
              :show-file-list="true"
            
              :auto-upload="false"
              :on-change="fileNameUploaC"
            >
              <i class="el-icon-upload" style="display: inherit;line-height: 70px;"></i>
              <div slot="file" slot-scope="{file}" class="fileList">
                <el-row class="el-upload-list__item">
                  <el-col :span="12">
                    <a class="el-upload-list__item-name" @click="downFile(file)">
                      <i class="el-icon-document"></i>
                      {{file.name}}
                    </a>
                  </el-col>
                  <el-col :span="9">
                    <p class="commentsonaform">
                      <span style="margin-right:15px">备注:</span>
                      <input v-model="file.val" placeholder="请填写文件备注" />
                      <!-- </input> -->
                    </p>
                  </el-col>
                  <el-col :span="3">
                    <span
                      @click.stop="removeFile(file,'integratorContractFiles')"
                      class="operationbutton"
                      style="margin-right:15px"
                    >
                      <i class="el-icon-delete"></i>
                    </span>
                    <span @click.stop="downFile(file)" v-if="file.id" class="operationbutton">
                      <i class="el-icon-download"></i>
                    </span>
                  </el-col>
                </el-row>
              </div>
              <div class="el-upload__text" style="line-height:20px;">
                将文件拖到此处，或
                <em>点击上传</em>
                   <p style="color:#F00;margin-top:-4px;font-size:6px">(支持格式：图片格式)</p>
              </div>
            </el-upload>
          </div>
          </el-form-item>

         

      <el-form-item 
          label="购买信息名:"
          prop="title"
          :rules="[{ required: true, message: '购买信息名不能为空', trigger: 'change' }]"
        ><el-col :span="12" >
          <el-input v-model="messageBulletin.title"></el-input>
           </el-col>
        </el-form-item>

        <el-form-item 
          label="产品介绍:"
          prop="title"
          :rules="[{ required: true, message: '产品介绍不能为空', trigger: 'change' }]"
        ><el-col :span="12" >
          <el-input v-model="messageBulletin.title" type="textarea" :rows="4"></el-input>
           </el-col>
        </el-form-item>


      </el-form>
      <div
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="saveMessage('messageBulletin',2)"
        >确 定</el-button>
      </div>
    </el-dialog>
    <!-- 公告弹窗 end -->

    <!-- 公告推送弹窗 start -->
    <el-dialog
      title="发布公告"
      :visible.sync="dialogFormVisible2"
      width="650px"
      @close="resetdata('messageBulletin2')"
     >
      <el-form
        label-width="120px"
        size="mini"
        :model="messageBulletin"
        ref="messageBulletin2"
      >
        <el-form-item
          label="接收人员:"
          prop="receptionStaff"
          :rules="[{ required: true, message: '请选择接收人员', trigger: 'change' }]"
        >
          <el-radio
            v-model="messageBulletin.receptionStaff"
            :label="1"
          >全体人员</el-radio>
          <el-radio
            v-model="messageBulletin.receptionStaff"
            :label="2"
          >指定人员</el-radio>
        </el-form-item>
        <el-form-item
          label="同步到公众号 :"
          prop="synchronous"
          :rules="[{ required: true, message: '请选择是否同步到公众号', trigger: 'change' }]"
        >
          <el-radio
            v-model="messageBulletin.synchronous"
            label="1"
          >不同步到公众号</el-radio>
          <el-radio
            v-model="messageBulletin.synchronous"
            label="2"
          >同步到公众号</el-radio>
        </el-form-item>
        <div v-if="messageBulletin.synchronous==2">
          <el-form-item
            label="公众号:"
            prop="synchronous"
          >
            <el-select
              placeholder="发布状态"
              filterable
              clearable
              size="mini"
              style="width:180px"
              v-model="messageBulletin.pubNumber"
              @change="initPagedata"
            >
              <el-option
                
                v-for="(item,index) in PublicNumberList"
                :key="index"
                :value="item.id"
                :label="item.pubNumber"
              ></el-option>
             
            </el-select>
          </el-form-item>
          <el-form-item
            label="同步类型:"
            prop="receptionStaffType"
          >
            <el-radio
              v-model="messageBulletin.receptionStaffType"
              :label="1"
            >同步素材到公众号</el-radio>
            <el-radio
              v-model="messageBulletin.receptionStaffType"
              :label="2"
            >同步并群发推文</el-radio>
          </el-form-item>
          <el-form-item
            label="原文链接:"
            prop="originalLink"
          >
            <el-input v-model="messageBulletin.originalLink"></el-input>
          </el-form-item>
        </div>

      </el-form>
      <div
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible2 = false">取 消</el-button>
        <el-button
          type="primary"
          @click="saveMessage('messageBulletin2',1)"
        >确 定</el-button>
      </div>
    </el-dialog>
    <!-- 公告推送弹窗 end -->

    <!-- 所属栏目 start -->
    <el-dialog
      @open="getLabelListFn('所属栏目')"
      title="所属栏目"
      :visible.sync="columnsVisible"
      >
      <p style="display:flex; justify-content:space-around;">
        <label for="abbreNameSearch">关键字：</label>
        <el-input
          id="abbreNameSearch"
          v-model="columnsSearch"
          size="mini"
          style="width:50%;"
          placeholder="输入关键字搜索"
        />
        <el-button
          size="mini"
          class="blue_custom_btn"
          style="margin:0;"
          @click="addLabelFn('columns')"
        >+增加</el-button>
      </p>
      <el-table
        border
        height="250"
        :header-cell-style="{textAlign:'center'}"
        :cell-style="{textAlign:'center'}"
        :data="columnsList.filter(data => !columnsSearch || data.name.toLowerCase().includes(columnsSearch.toLowerCase()))"
        style="width: 100%"
        @row-dblclick="saveLabelInfoFn"
      >
        <el-table-column
          type="index"
          label="排序号"
          width="80"
        ></el-table-column>
        <el-table-column
          prop="name"
          label="名称"
        >
          <template slot-scope="{row}">
            <span v-if="!row.isSelected">{{row.name}}</span>
            <el-input
              minlength="1"
              v-else
              @blur="saveEdit(row,'AbbreName')"
              v-model="row.name"
              placeholder="请输入内容"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column
          align="right"
          label="操作"
          width="180"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              icon="el-icon-edit"
              @click="$set(scope.row, 'isSelected', true);"
              title="编辑"
            ></el-button>
            <!-- editBuildInfo(scope.row.id,1) -->
            <el-button
              size="mini"
              icon="el-icon-delete"
              type="danger"
              @click="editLabelInfoFn(scope.row.id,'项目专业简称',scope.$index)"
              title="删除"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
    <!-- 所属栏目 end -->
  </div>

</template>

<script>

import foot from '../components/foot'

import {
  saveupdateMessageNotice,
  updateMessageNoticeImgs,
  getMessageNoticeList,
  delMessageNotice,
  getMessageNoticedetail,
  PublicNumberdetailList
} from "@/api/serve.js";

export default {
  data() {
    return {
      dialogFormVisible: false,
      dialogFormVisible2: false,
      dialogFormVisible3: false,
      columnsVisible: true,
      select: {
        page: 1,
        pageSize: 10,
        title: "",
        columns: "",
        ifRelease: ""
      },
      totalElements: 0,
      editorOption: {
        modules: {
          toolbar: {
            container: [
              ["bold", "italic", "underline", "strike"],
              ["blockquote", "code-block"],
              [{ indent: "-1" }, { indent: "+1" }],
              [{ size: ["small", false, "large", "huge"] }],
              [{ header: [1, 2, 3, 4, 5, 6, false] }],
              [{ color: [] }, { background: [] }],
              [{ align: [] }],
              ["image"]
            ],
            handlers: {
              image: function(value) {
                if (value) {
                  // 调用上传组件
                  document.querySelector(".Callupload").click();
                } else {
                  this.quill.format("image", false);
                }
              }
            }
          }
        }
      },
      
      tableData: [
         
      ],
      PublicNumberList:[],
      messageBulletin: {
        id: "",
        columns: "",
        title: "",
        details: "",
        attachmentfileIds: [],
        photoFileId: "", //内容照片,
        coverPhotoId: "", // 封面照片,

        originalLink: "", // 原文链接
        pubNumber: "", // 公众号
        receptionStaffType: 1, // 同步类型 1.同步素材到公众号 2.同步并群发推文
        ifRelease: 2, // 1.已发布 2.未发布
        receptionStaff: 1, //接收人员 1.全体人员 2.指定人员
        synchronous: 1 // 1.不同步到公众号 2.同步到公众号
      },
      // 封面图片
      coverPhotoIdlist: [],
      columnsList: [],
      columnsVisible: false,
      columnsSearch: ""
    };
  },
  methods: {
    handleSizeChange(size) {},
    handleCurrentChange(page) {},
    // 加载消息列表
    initPagedata() {
      getMessageNoticeList(this.select).then(res => {
        if (res.data && res.data.code == 0) {
          let results = res.data.data;
          this.tableData = results.content;
          this.select.page = results.page;
          this.totalElements = results.totalElements;
        }
      });
    },
     linkeA(data){
       window.open(data)
     },
    onEditorImgChange(file) {
      let quill = this.$refs.myQuillEditor.quill;
      let fd = new FormData();
      fd.append("file", file.raw);
      updateMessageNoticeImgs(fd)
        .then(res => {
          if (res.data.code == 0) {
            let id = res.data.data.id;
            let path = this.$ShowImgById(id);
            let length = quill.getSelection().index + 1;
            // 插入图片，res为服务器返回的图片链接地址
            quill.insertEmbed(length, "image", path);
            if (!this.messageBulletin.photoFileId.length) {
              this.messageBulletin.photoFileId += id;
            } else {
              this.messageBulletin.photoFileId += `,${id}`;
            }
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          // this.$message.error(res.data.msg);
        });
    },
    // 附件添加上传
    onEditorImgChangeFiles(file, fileList) {
      this.messageBulletin.attachmentfileIds = fileList;
    },
    // 删除
    removefile(file, fileList) {
      this.messageBulletin.attachmentfileIds = fileList;
    },
    // 封面照片添加上传
    coverPhotoSelect(file) {
      this.coverPhotoIdlist = [];
      let fd = new FormData();
      fd.append("file", file.raw);
      fd.append("title", this.messageBulletin.title);
      fd.append("columns", this.messageBulletin.columns);
      updateMessageNoticeImgs(fd).then(res => {
        if (res.data && res.data.code == 0) {
          let file = res.data.data;
          file.url = this.$ShowImgById(file.id);
          this.messageBulletin.coverPhotoId = file.id;
        }
      });
    },
    // 保存
    saveMessage(formName, state) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let fd = new FormData();
          let sendData = JSON.parse(JSON.stringify(this.messageBulletin));
          sendData.attachmentfileIds = this.messageBulletin.attachmentfileIds;
          if (!sendData.attachmentfileIds.length) {
            delete sendData.attachmentfileIds;
          }
          if (sendData.coverPhotoIds) {
            delete sendData.coverPhotoIds;
          }
          delete sendData.photoFileIds;
          // state 发布（不发布）
          sendData.ifRelease = state;
          for (let key in sendData) {
            if (key == "attachmentfileIds" && sendData[key].length) {
              for (let i = 0; i < sendData[key].length; i++) {
                if (sendData[key][i].id) {
                  fd.append(`attachmentfileIds[${i}].id`, sendData[key][i].id);
                } else {
                  fd.append(
                    `attachmentfileIds[${i}].file`,
                    sendData[key][i].raw
                  );
                }
              }
            } else {
              fd.append(key, sendData[key] !== null ? sendData[key] : "");
            }
          }
          saveupdateMessageNotice(fd).then(res => {
            if (res.data && res.data.code == 0) {
              this.$message.success("操作成功");
              this.dialogFormVisible = false;
              this.dialogFormVisible2 = false;
              this.initPagedata();
            } else {
              this.$message.error(res.data.msg);
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 公共标签start
    // 獲取标签列表 （专业简称|| 投资方 || 项目 || 业务类型）
    getLabelListFn(type) {
      getLabelList({ type: type }).then(res => {
        if (res.data && res.data.code == 0) {
          this.columnsList = res.data.data;
          this.columnsList.map(item => {
            this.$set(item, "isSelected", false);
            this.$set(item, "rowName", "所属栏目");
          });
          this.columnsVisible = true;
        } else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      });
    },
    // 删除标签
    editLabelInfoFn(id, nameType, index) {
      if (String(id) == "0") {
        this.columnsList.splice(index, 1);
      } else if (!id) {
        this.$message({
          message: "数据错误，请重新点击！",
          type: "error"
        });
      } else {
        this.$confirm("确认删除该条信息吗?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            delLabelInfo({ id: id }).then(res => {
              if (res.data && res.data.code == 0) {
                this.$message({
                  message: "操作成功",
                  type: "success"
                });
                this.getLabelListFn(nameType);
              } else {
                this.$message({
                  message:
                    res.data && res.data.msg
                      ? res.data.msg
                      : "数据错误，请重新点击！",
                  type: "error"
                });
              }
            });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消删除"
            });
          });
      }
    },
    saveEdit(row, type) {
      this.$set(
        // type == "AbbreName" ? this.abbreNameList : this.investorNameList,
        // "isSelected",
        // false
        this.columnsList,
        "isSelected",
        false
      );
      if (row.name) {
        let typeName = "所属栏目";
        // type=='InvestorName'?typeName = "投资方":(type=='AbbreName'?typeName = "项目专业简称":(type=='projectName'?typeName ="项目":typeName ="业务类型"))
        editLabelInfo({
          id: row.id || "",
          name: row.name,
          type: typeName
        }).then(res => {
          if (res.data && res.data.code == 0) {
            this.getLabelListFn(typeName);
          } else {
            this.$message({
              message:
                res.data && res.data.msg
                  ? res.data.msg
                  : "数据错误，请重新编辑！",
              type: "error"
            });
          }
        });
      }
      // } else {
      //   type == 'AbbreName'?this.abbreNameList.splice(0, 1):(type == 'investorName'?this.investorNameList.splice(0, 1):type == 'projectName'?this.projectNameList.splice(0, 1):this.businessTypeNameList.splice(0, 1))
      // }
    },
    addLabelFn(type) {
      switch (type) {
        case "columns":
          this.columnsList.unshift({ isSelected: false });
          break;
      }
    },
    // 双击列表赋值
    saveLabelInfoFn(row) {
      // switch (row.rowName) {
      //   case "项目专业简称":
      //     this.Proinfomations.projectAbbreName = row.name;
      //     this.abbreNameVisible = false;
      //     break;
      //   case "投资方":
      //     this.Proinfomations.investor = row.name;
      //     this.investorNameVisible = false;
      //     break;
      //   case "项目":
      //     this.Proinfomations.project = row.name;
      //     this.projectNameVisible = false;
      //     break;
      //   case "业务类型":
      //     this.Proinfomations.businessType = row.name;
      //     this.businessTypeNameVisible = false;
      //     break;
      this.messageBulletin.columns = row.name;
      this.columnsVisible = false;
    },
    // 公共标签end
    // 关闭清空
    resetdata(formName) {
      this.$refs[formName].resetFields();
      // this.$refs['messageBulletin2'].resetFields();
      this.messageBulletin = {
        id: "",
        columns: "",
        title: "",
        details: "",
        attachmentfileIds: [],
        photoFileId: "", //内容照片,
        coverPhotoId: "", // 封面照片,

        originalLink: "", // 原文链接
        pubNumber: "", // 公众号
        receptionStaffType: 1, // 同步类型 1.同步素材到公众号 2.同步并群发推文
        ifRelease: 2, // 1.已发布 2.未发布
        receptionStaff: 1, //接收人员 1.全体人员 2.指定人员
        synchronous: 1 // 1.不同步到公众号 2.同步到公众号
      };
    },
    // 编辑/发布/查看  点击
    handlerEdit(row, type) {
      getMessageNoticedetail({ id: row.id }).then(res => {
        if (res.data && res.data.code == 0) {
          let data = res.data.data;
          type == 0
            ? (this.dialogFormVisible = true)
            : type == 1
            ? (this.dialogFormVisible2 = true)
            : (this.dialogFormVisible3 = true);
          this.$nextTick(() => {
            this.messageBulletin = data;
          });
        } else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      });
    },
    // 删除
    handlerdelete(id) {
      this.$confirm("此操作将永久删除该条通知, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          delMessageNotice({ id: id }).then(res => {
            if (res.data && res.data.code == 0) {
              this.$message({
                type: "success",
                message: "删除成功!"
              });
              this.initPagedata();
            } else {
              this.$message({
                message:
                  res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    // 下载文件
    downloadFiles(id) {
      window.open(exportFileInfo(id));
    }
  },
  mounted() {
    this.initPagedata();
    getLabelList({ type: "所属栏目" }).then(res => {
      if (res.data && res.data.code == 0) {
        this.columnsList = res.data.data;
        this.columnsList.map(item => {
          this.$set(item, "isSelected", false);
          this.$set(item, "rowName", "所属栏目");
        });
        // this.columnsVisible = true;
      } else {
        this.$message({
          message:
            res.data && res.data.msg ? res.data.msg : "数据错误，请重新点击！",
          type: "error"
        });
      }
    });
    // 公众号列表
     PublicNumberdetailList(this.select).then(res => {
                if (res.data && res.data.code == 0) {
                    let results = res.data.data;
                    this.PublicNumberList = results.content;
                  
                }else{
                    this.$message({
                  message:
                    res.data && res.data.msg ? res.data.msg : "数据错误，请重新点击！",
                  type: "error"
                });  
                }
            }); 
  },
  watch: {
    "messageBulletin.coverPhotoId": function(newvalue, oldvalue) {
      if (!newvalue.length) {
        this.coverPhotoIdlist = [];
      } else {
        this.coverPhotoIdlist.push({
          name: "",
          url: this.$ShowImgById(newvalue)
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>



#details {
  width: 100%;
  height: 600px;
  overflow-x: hidden;
  // overflow-y: scroll;
  h2 {
    border-left: 5px solid rgba(0, 121, 254, 1);
    font-family: "Arial Negreta", "Arial Normal", "Arial";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin:15px 0;
    span{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
   }
  .summary{
    line-height: 46px;
    background: rgba(242, 242, 242, 1);
    border: 0.5px solid rgba(228, 228, 228, 1);
    margin-bottom: 15px;
    span{
      font-size: 14px;
      color: #999999;
      margin-left: 10px;
      i{
        color: #333333;
        margin-left:15px;
        font-style: normal;
      }
    }
    span:nth-of-type(1){
      margin:0;
    }
  }
  .content{
    &::-webkit-scrollbar {
      display: none;
    }
  }
  ul {
    margin-top: 15px;
    margin-left:15px;
    list-style: none;
    li {
    }
    li:hover {
      color: rgba(0, 121, 254, 1);
      cursor: pointer;
    }
  }
}

.Layout {
  //  background: #f9f9f9;
  .sixnav {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: #0a0b1b;
    line-height: 60px;
    .icon_img {
      display: inline-block;
      vertical-align: top;
      margin-left: 80px;

      img {
        width: 100%;
        height: 26px;
        background-color: #0a0b1b;
        // line-height: 26px;
        display: inline-block;
      }
    }
    > span {
      display: inline-block;
      font-family: "SourceHanSansCN-Regular";
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #ffffff;
    }
    > ul {
      display: inline-block;
      list-style: none;
      vertical-align: top;
      padding: 0;
      margin-left: 74px;
      li {
        float: left;
        line-height: 30px;
        padding: 0px 20px;
        text-align: center;
        font-family: "SourceHanSansCN-Regular";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        color: #ddd9f0;
        cursor: pointer;
        box-sizing: border-box;
        
      }
      
      .avtiveli {
        color: #00a4ff;
        
      }
    }
  }
  .enters {
    position: relative;
    .centerbutton {
      position: absolute;
      display: block;
      z-index: 22;
      bottom: 20%;
      left: 18%;
      width: 144px;
      height: 41px;
      text-align: center;
      line-height: 41px;
      border-radius: 4px;
      border: solid 1px #ddd9f0;
      font-family: "PingFang-SC-Bold";
      font-size: 14px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      img {
        width: 100%;
        display: none;
        border: none;
      }
    }
    .centerbutton:hover {
      border: none;
      i {
        display: none;
      }
      img {
        display: block;
      }
    }
  }

  .newslist {
    //  margin-top:100px;
    width: 1200px;
    margin: auto;
    height: 694px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .newsitem {
      width: 335px;
      height: 420px;
      margin-left: 20px;
      background: #fff;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 224px;
      }
      .newstitle {
        font-family: "MicrosoftYaHei";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #333333;
        margin-top: 10px;
      }
      .newscont {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #666666;
        padding: 0px 10px;
      }
    }
    .news_list_top {
    //   background: #ffff;
      min-height: 420px;
      margin: 0px 20px;
      p {
        line-height: 85px;
        background: #469bed;
        color: #f9f9f9;
        padding: 0px;
        margin:0px;
        span:nth-of-type(1) {
          font-size: 20px;
	      font-weight: bold;
          color: #ffffff;
          margin-left:30px;
        }
        span:nth-of-type(2) {
          margin-left: 15px;
          font-family: 'MicrosoftYaHei';
	      font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      ul {
        max-height: 320px;
        overflow: hidden;
        overflow-y: scroll;
        margin:0;
        padding: 0;
        li {
          line-height: 68px;
        //   padding-left: 15px;
          border-bottom: 1px solid #e7e7e7;
          cursor: pointer;
          display: flex;
          span {
            display: block;
            // float: left;
          }
          span:nth-of-type(1) {
            width: 75%;
            // max-width: 160px;
            //    background: red;

            font-size: 18px;
            color: #1e1e1e;
            overflow: hidden;
            text-overflow: ellipsis;
            // -webkit-line-clamp: 1;
            white-space: nowrap;
          }
          span:nth-of-type(2) {
            width: 25%;
            text-align: center;
            //    background: yellow;
            font-size: 14px;
            color: #999999;
          }
        }
        li:hover {
          border-bottom: 1px solid #469bed;
          span {
            color: #469bed;
          }
        }
      }
      ul::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .case {
    width: 100%;
    height: 550px;
    background-color: #0d0e21;
    overflow: hidden;
    .case-box {
      width: 1200px;
      height: 417px;
      display: block;
      margin: auto;
      margin-top: 56px;
      > p {
        span {
          display: inline-block;
          width: 164px;
          height: 42px;
          border-radius: 21px;
          border: solid 1px #ddd9f0;
          font-size: 18px;
          font-weight: bold;
          // font-stretch: normal;
          line-height: 42px;
          letter-spacing: 0px;
          color: #ddd9f0;
          text-align: center;
          margin: 0px 20px;
        }
        .avruve {
          width: 195px;
          height: 50px;
          line-height: 50px;
          color: #fefefe;
        }
      }
      > ul {
        list-style: none;
        padding: 0px;
        margin-top: 43px;

        //   width: 1200px;
        //   margin:0px 0px 0px 104px;
        li {
          float: left;
          width: 280px;
          height: 213px;
          margin-left: 15px;
          background-color: #12172e;
        //   border: solid 2px rgba(77, 125, 253, 0.3);
          cursor: pointer;
          // overflow: hidden;
          img {
            width: 100%;
            height: 209px;
          }
          .title_cont {
            width: 276px;
            height: 64px;
            margin-left:2px;
            margin: 0px 2px;
            float: left;
            background-color: #ffffff;
            border: solid 1px #f1f1f1;
            padding: 10px;
            overflow: hidden;
            p {
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              // line-height: 30px;
              letter-spacing: 0px;
              color: #333333;
            }
            .date {
              text-align: right;
              font-size: 14px;
              color: #999999;
            }
          }
        }
      }
    }
  }

  .func {
    width: 100%;
    height: 883px;
    background-color: #f9fbfc;
    border: solid 1px #e5e8ed;
    .func_container {
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      .news_list_top {
        flex: 1;
        min-height: 420px;
        margin: 0px 20px;
        p {
          line-height: 50px;
          // background: #469bed;
          color: #469bed;
          padding: 15px;
          span:nth-of-type(1) {
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            line-height: 30px;
            letter-spacing: 0px;
            color: #00a4ff;
          }
          span:nth-of-type(2) {
            margin-left: 15px;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        ul {
          // max-height: 320px;
          overflow: hidden;
          overflow-y: scroll;
          li {
            line-height: 68px;
            padding-left: 15px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            display: flex;
            span {
              display: block;
              // float: left;
            }
            span:nth-of-type(1) {
              width: 70%;
              // max-width: 160px;
              //    background: red;

              font-size: 18px;
              color: #1e1e1e;
              overflow: hidden;
              text-overflow: ellipsis;
              // -webkit-line-clamp: 1;
              white-space: nowrap;
            }
            // span:nth-of-type(2) {
            //     width: 30%;
            //     text-align: center;
            //     //    background: yellow;
            //     font-size: 14px;
            //     color: #999999;
            // }
          }
          li:hover {
            border-bottom: 1px solid #469bed;
            span {
              color: #469bed;
            }
          }
        }
        ul::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}


</style>

<style>
.ql-container {
  min-height: 320px;
}
#mymessageM {
  line-height: 60px;
}

#mymessageM .row{
  margin-left: 25px;
}

#mymessageM .el-upload {
  line-height: 60px;
  background: #f9f9f9;
  
}


#mymessageM .warestable{
  margin-left: 25px;
}

/* #details img {
  width: 100%;
} */
</style>
