<template>
  <div id="mymessageM">
    <div class="but1" style="margin-left:30px">
    <el-row :gutter="20">
        <el-col :span="4">
        <el-button
          size="mini"
          type="success"
          @click="dialogFormVisible=true"
        >新增</el-button>
      </el-col>
    </el-row>
    </div>
    <div class="warestable">
    <el-table
      :data="preferentialList"
      border
      height="550"
      style="width: 100%;margin:10px 0px;"
      :header-cell-style="{textAlign:'center'}"
      :cell-style="{textAlign:'center'}"
    >
      <el-table-column
        label="序号"
        type="index"
        width="300"
      ></el-table-column>

       <el-table-column
        prop="preferentialName"
        label="优惠名称"
        width="790"
      ></el-table-column>

      <el-table-column
        prop="money"
        label="优惠金额"
        width="500"
      ></el-table-column>

       <el-table-column fixed="right" label="操作" width="220" align="center">
          <template slot-scope="scope">
            <el-button type="primary" size="mini" 
            style="cursor: pointer;margin-right:10px;background:#29ba9c;color:#fff;"
            @click="handeledit(scope.row.id)">编辑</el-button>
            <el-button :ff="scope" type="danger" 
              style="cursor: pointer; background:#fd3666;;color:#fff;"
            size="mini" @click="deleteListdataClick(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
    </el-table>
    </div>

    <p style="text-align:center">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="select.page"
        :page-size="select.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalPage"
      ></el-pagination>
    </p>

     <el-dialog
            :title="preferential.id?'编辑':'新增'"
            :visible.sync="dialogFormVisible"
            width="500px"
            @close="handleClose('preferential')">
             <el-form size="mini" :model="preferential" ref="preferential"
              label-width="120px"
             >
                <el-form-item
                label="优惠名称:"
                prop="preferentialName"
                :rules="[{required: true,message: '优惠名称不能为空', trigger: 'change' }]"
              ><el-col :span="18">
                <el-input  v-model="preferential.preferentialName" clearable></el-input>
                </el-col>
              </el-form-item>

              <el-form-item
                label="优惠金额:"
                prop="money"
                :rules="[{required: true,message: '优惠金额不能为空', trigger: 'change' }]"
              ><el-col :span="18">
                <el-input  v-model="preferential.money" clearable></el-input>
                </el-col>
              </el-form-item>

             </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveMessage('preferential')">确 定</el-button>
            </span>
         </el-dialog>

  </div>

</template>

<script>


import {
  saveOrupdatePreferential,
  preferentialList,
  preferentialDel,
  details,
} from "@/api/preferential.js";

export default {
  data() {
    return {
      dialogFormVisible: false,
      columnsVisible: true,
      select: {
        page: 1,
        pageSize: 10,
        preferentialName: "",
        money: "",
        id: ""
      },
      preferentialAdd : "添加",
      currentPage: 1,
      preferentialList: [
         
      ],
      totalPage: 0,
      preferential: {
        id: "",
        preferentialName: "",
        money: ""
      },
    };
  },
  methods: {
    handleSizeChange(val) {
      this.select.pageSize = val;
      this.initpagedata();
    },
    handleCurrentChange(val) {
      // console.log(`当前页: ${val}`)
      this.select.page = val;
      this.initpagedata();
    },
     linkeA(data){
       window.open(data)
     },

 initpagedata() {
    preferentialList({ ...this.select }).then(res => {
        if (res.data && res.data.code == 0) {
          this.preferentialList = res.data.data.content;
          this.currentPage = res.data.data.page;
          this.totalPage = res.data.data.totalElements;
        } else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      });
    },

    handleClose(formname){
              this.$refs[formname].resetFields();
              this.preferential={
                    id:'',
                    preferentialName:'',
                    money:'',
              }
          },

    // 保存信息
    saveMessage() {
      let that = this;
      this.$refs['preferential'].validate(valid => {
        if (valid) {
          saveOrupdatePreferential(that.preferential).then(res => {
            if (res.data && res.data.code == 0) {
              this.$message({
                message: "保存成功",
                type: "success"
              });
               this.initpagedata();
               that.preferentialAdd = "编辑";
               that.$refs.addressBookAddDrawer.closeDrawer();
            } else {
              this.$message({
                message: res.data.msg,
                type: "error"
              });
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    // 编辑 表格点击
    handeledit(id) {
      let that = this;
      // 获取详情
      details({ id:id }).then(res => {
        if (res.data && res.data.code == 0) {
          that.dialogFormVisible = true;
          that.preferential = res.data.data;
          that.preferentialAdd = "编辑";
        } else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      });
    },


    deleteListdataClick(id) {
      this.$confirm("确认删除该条类型?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          // 删除接口
          preferentialDel({ id: id }).then(res => {
            if (res.data && res.data.code == 0) {
              this.$message({
                message: "操作成功",
                type: "success"
              });
              // 初始化建筑类型列表
              this.initpagedata();
            } else {
              this.$message({
                message:
                  res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

    addLabelFn(type) {
      switch (type) {
        case "columns":
          this.columnsList.unshift({ isSelected: false });
          break;
      }
    },

    // 公共标签end
    // 关闭清空
    resetdata(formName) {
      this.$refs[formName].resetFields();
      // this.$refs['messageBulletin2'].resetFields();
      this.preferential = {
        id: "",
        preferentialName: "",
        money: "",
      };
    },
  },
  created() {
    this.initpagedata();
  },
};
</script>

<style lang="scss" scoped>



#details {
  width: 100%;
  height: 600px;
  overflow-x: hidden;
  // overflow-y: scroll;
  h2 {
    border-left: 5px solid rgba(0, 121, 254, 1);
    font-family: "Arial Negreta", "Arial Normal", "Arial";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin:15px 0;
    span{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
   }
  .summary{
    line-height: 46px;
    background: rgba(242, 242, 242, 1);
    border: 0.5px solid rgba(228, 228, 228, 1);
    margin-bottom: 15px;
    span{
      font-size: 14px;
      color: #999999;
      margin-left: 10px;
      i{
        color: #333333;
        margin-left:15px;
        font-style: normal;
      }
    }
    span:nth-of-type(1){
      margin:0;
    }
  }
  .content{
    &::-webkit-scrollbar {
      display: none;
    }
  }
  ul {
    margin-top: 15px;
    margin-left:15px;
    list-style: none;
    li {
    }
    li:hover {
      color: rgba(0, 121, 254, 1);
      cursor: pointer;
    }
  }
}

.Layout {
  //  background: #f9f9f9;
  .sixnav {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: #0a0b1b;
    line-height: 60px;
    .icon_img {
      display: inline-block;
      vertical-align: top;
      margin-left: 80px;

      img {
        width: 100%;
        height: 26px;
        background-color: #0a0b1b;
        // line-height: 26px;
        display: inline-block;
      }
    }
    > span {
      display: inline-block;
      font-family: "SourceHanSansCN-Regular";
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #ffffff;
    }
    > ul {
      display: inline-block;
      list-style: none;
      vertical-align: top;
      padding: 0;
      margin-left: 74px;
      li {
        float: left;
        line-height: 30px;
        padding: 0px 20px;
        text-align: center;
        font-family: "SourceHanSansCN-Regular";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        color: #ddd9f0;
        cursor: pointer;
        box-sizing: border-box;
        
      }
      
      .avtiveli {
        color: #00a4ff;
        
      }
    }
  }
  .enters {
    position: relative;
    .centerbutton {
      position: absolute;
      display: block;
      z-index: 22;
      bottom: 20%;
      left: 18%;
      width: 144px;
      height: 41px;
      text-align: center;
      line-height: 41px;
      border-radius: 4px;
      border: solid 1px #ddd9f0;
      font-family: "PingFang-SC-Bold";
      font-size: 14px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      img {
        width: 100%;
        display: none;
        border: none;
      }
    }
    .centerbutton:hover {
      border: none;
      i {
        display: none;
      }
      img {
        display: block;
      }
    }
  }

  .newslist {
    //  margin-top:100px;
    width: 1200px;
    margin: auto;
    height: 694px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .newsitem {
      width: 335px;
      height: 420px;
      margin-left: 20px;
      background: #fff;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 224px;
      }
      .newstitle {
        font-family: "MicrosoftYaHei";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #333333;
        margin-top: 10px;
      }
      .newscont {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #666666;
        padding: 0px 10px;
      }
    }
    .news_list_top {
    //   background: #ffff;
      min-height: 420px;
      margin: 0px 20px;
      p {
        line-height: 85px;
        background: #469bed;
        color: #f9f9f9;
        padding: 0px;
        margin:0px;
        span:nth-of-type(1) {
          font-size: 20px;
	      font-weight: bold;
          color: #ffffff;
          margin-left:30px;
        }
        span:nth-of-type(2) {
          margin-left: 15px;
          font-family: 'MicrosoftYaHei';
	      font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      ul {
        max-height: 320px;
        overflow: hidden;
        overflow-y: scroll;
        margin:0;
        padding: 0;
        li {
          line-height: 68px;
        //   padding-left: 15px;
          border-bottom: 1px solid #e7e7e7;
          cursor: pointer;
          display: flex;
          span {
            display: block;
            // float: left;
          }
          span:nth-of-type(1) {
            width: 75%;
            // max-width: 160px;
            //    background: red;

            font-size: 18px;
            color: #1e1e1e;
            overflow: hidden;
            text-overflow: ellipsis;
            // -webkit-line-clamp: 1;
            white-space: nowrap;
          }
          span:nth-of-type(2) {
            width: 25%;
            text-align: center;
            //    background: yellow;
            font-size: 14px;
            color: #999999;
          }
        }
        li:hover {
          border-bottom: 1px solid #469bed;
          span {
            color: #469bed;
          }
        }
      }
      ul::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .case {
    width: 100%;
    height: 550px;
    background-color: #0d0e21;
    overflow: hidden;
    .case-box {
      width: 1200px;
      height: 417px;
      display: block;
      margin: auto;
      margin-top: 56px;
      > p {
        span {
          display: inline-block;
          width: 164px;
          height: 42px;
          border-radius: 21px;
          border: solid 1px #ddd9f0;
          font-size: 18px;
          font-weight: bold;
          // font-stretch: normal;
          line-height: 42px;
          letter-spacing: 0px;
          color: #ddd9f0;
          text-align: center;
          margin: 0px 20px;
        }
        .avruve {
          width: 195px;
          height: 50px;
          line-height: 50px;
          color: #fefefe;
        }
      }
      > ul {
        list-style: none;
        padding: 0px;
        margin-top: 43px;

        //   width: 1200px;
        //   margin:0px 0px 0px 104px;
        li {
          float: left;
          width: 280px;
          height: 213px;
          margin-left: 15px;
          background-color: #12172e;
        //   border: solid 2px rgba(77, 125, 253, 0.3);
          cursor: pointer;
          // overflow: hidden;
          img {
            width: 100%;
            height: 209px;
          }
          .title_cont {
            width: 276px;
            height: 64px;
            margin-left:2px;
            margin: 0px 2px;
            float: left;
            background-color: #ffffff;
            border: solid 1px #f1f1f1;
            padding: 10px;
            overflow: hidden;
            p {
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              // line-height: 30px;
              letter-spacing: 0px;
              color: #333333;
            }
            .date {
              text-align: right;
              font-size: 14px;
              color: #999999;
            }
          }
        }
      }
    }
  }

  .func {
    width: 100%;
    height: 883px;
    background-color: #f9fbfc;
    border: solid 1px #e5e8ed;
    .func_container {
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      .news_list_top {
        flex: 1;
        min-height: 420px;
        margin: 0px 20px;
        p {
          line-height: 50px;
          // background: #469bed;
          color: #469bed;
          padding: 15px;
          span:nth-of-type(1) {
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            line-height: 30px;
            letter-spacing: 0px;
            color: #00a4ff;
          }
          span:nth-of-type(2) {
            margin-left: 15px;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        ul {
          // max-height: 320px;
          overflow: hidden;
          overflow-y: scroll;
          li {
            line-height: 68px;
            padding-left: 15px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            display: flex;
            span {
              display: block;
              // float: left;
            }
            span:nth-of-type(1) {
              width: 70%;
              // max-width: 160px;
              //    background: red;

              font-size: 18px;
              color: #1e1e1e;
              overflow: hidden;
              text-overflow: ellipsis;
              // -webkit-line-clamp: 1;
              white-space: nowrap;
            }
            // span:nth-of-type(2) {
            //     width: 30%;
            //     text-align: center;
            //     //    background: yellow;
            //     font-size: 14px;
            //     color: #999999;
            // }
          }
          li:hover {
            border-bottom: 1px solid #469bed;
            span {
              color: #469bed;
            }
          }
        }
        ul::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}


</style>

<style>
.ql-container {
  min-height: 320px;
}
#mymessageM {
  line-height: 60px;
}

#mymessageM .row{
  margin-left: 25px;
}

#mymessageM .el-upload {
  line-height: 60px;
  background: #f9f9f9;
  
}


#mymessageM .warestable{
  margin-left: 25px;
}

/* #details img {
  width: 100%;
} */
</style>
