<template>
    <div class="WXsmallroutine">
          <el-row :gutter="20">
               <el-col :span="3">
                   <el-button type="success" size="mini" style="width:100px"
                   @click="dialogVisible=true"
                   >新增</el-button>
               </el-col>
          </el-row>
          <br>
          <el-table
            :data="tableData"
            border
            style="width: 100%"
            height="600"
            :header-cell-style="{textAlign:'center'}"
             :cell-style="{textAlign:'center'}"
            >
            <el-table-column type="index" label="序号" fixed width="50">

            </el-table-column>

            <el-table-column          
            label="轮播图"
            width="240">
             <template slot-scope="scope">
                <img :src="imgurl+scope.row.imgId" alt="" class="listitemImg">
             </template>            
            </el-table-column>
            <el-table-column
            prop="name"
            label="显示状态"
            width="180">
             <template slot-scope="scope">
                  <el-switch
                    :value="scope.row.isShow"
                    active-value='1'
                    inactive-value='2'
                    >
                </el-switch>
             </template>
            </el-table-column>
            <el-table-column
            label="跳转链接">
               <template slot-scope="scope">
                   <p>
                       <a :href="scope.row.imgLink" target="_blank">{{scope.row.imgLink}}</a>
                   </p>
               </template>
            </el-table-column>
            <el-table-column
            prop="updateDate"
            label="更新时间">
            </el-table-column>
            <el-table-column        
            label="操作"
            width="240"
            >
              <p slot-scope="scope">
                  <el-button type="primary" size="mini" 
                    style="cursor: pointer;margin-right:10px;background:#29ba9c;color:#fff;"
                    @click="handeledit(scope.row)">编辑</el-button>
                    <el-button :ff="scope" type="danger" 
                    style="cursor: pointer; background:#fd3666;;color:#fff;"
                    size="mini" @click="handeldelete(scope.row.id)">删除</el-button>
               </p>
            </el-table-column>
        </el-table>
        <br>
        <p style="text-align:center">
             <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="select.page"         
                :page-size="select.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalElements">
            </el-pagination>
        </p>
        <el-dialog
        title="轮播图"
        :visible.sync="dialogVisible"
        width="650px"
        @close="resetdata"
        >
         <el-form size="mini" label-width="110px" ref="cartoon" :model="cartoon"
         :rules='cartoonRules'
         >
             <el-form-item label="轮播图片：" prop="file">
                    <div id="imgbox">
                         <el-upload
                            action="#"
                            class="upbox"
                            list-type="picture-card"
                            :auto-upload="false"
                            :on-change="UploadFiles"
                            :file-list="fileList"
                            :limit="fileList.length==1?2:1"
                            >
                                <i slot="default" class="el-icon-plus">
                                     <div slot="file" slot-scope="{file}"> 
                                        <img
                                            class="el-upload-list__item-thumbnail"
                                            :src="file.url" alt=""
                                        >
                                        <span class="el-upload-list__item-actions">
                                            <span
                                            class="el-upload-list__item-preview"
                                            @click="handlePictureCardPreview(file)"
                                            >
                                            <i class="el-icon-zoom-in"></i>
                                            </span>
                                            <span
                                            v-if="!disabled"
                                            class="el-upload-list__item-delete"
                                            @click="handleDownload(file)"
                                            >
                                            <i class="el-icon-download"></i>
                                            </span>
                                            <span
                                            v-if="!disabled"
                                            class="el-upload-list__item-delete"
                                            @click="handleRemove(file)"
                                            >
                                            <i class="el-icon-delete"></i>
                                            </span>
                                        </span>
                                    </div>  
                                </i> 
                                 <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，建议图片长宽尺寸为  (674X292)px</div>                            
                            </el-upload>
                    </div>   
             </el-form-item>
             <el-form-item label="是否显示："  prop="isShow">
                       <el-switch
                        v-model="cartoon.isShow"
                        active-value='1'
                        inactive-value='2'
                       >
                      </el-switch>      
             </el-form-item>
             <el-form-item label="跳转链接地址：">
                     <el-input v-model="cartoon.imgLink" clearable></el-input>      
             </el-form-item>
         </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="submit('cartoon')">确 定</el-button>
        </span>
        </el-dialog>
    </div>
</template>

<script>
import {saveWXcartoon,cartoonChangeState,cartoonDel,cartoonList} from '@/api/storeroundimg';
export default {
      data(){
          return{
              dialogVisible:false,
              imgurl: `${process.env.VUE_APP_URL}file/api/uploadFile/pub/img?id=`,
              select:{
                 page:1,
                 pageSize:10
              },
              totalElements:100,
              tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
                }],
                fileList:[],
                cartoon:{
                    file:'',
                    id:'',
                    imgLink:'',
                    isShow:''
                },
               cartoonRules:{
                    file:[
                        { required: true, message: '图片不能为空', trigger: 'change' }
                    ],
               }
        }
      },
      methods:{
           // 分页
            handleSizeChange(val) {
            this.select.pageSize = val;
            },
            handleCurrentChange(val) {
            this.select.page = val;
            },
            handeledit(row){
                 this.dialogVisible=true;
                 this.fileList.push({
                     name:'',
                     url:this.imgurl+row.imgId
                 })
                 this.$nextTick(()=>{
                     this.cartoon=JSON.parse(JSON.stringify(row)) 
                 })
            },

            handlechangestate(row){
                this.$confirm("确定删除吗?", "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                })
                    .then(() => {
                    // 删除
                    cartoonChangeState({
                        id: row.id
                        })
                        .then(res => {
                            if (res.data && res.data.code == 0) {
                            this.$message({
                                message: "操作成功",
                                type: "success"
                            });
                            this.initPagedata();
                            } else {
                            this.$message({
                                message:
                                res.data && res.data.msg
                                    ? res.data.msg
                                    : "数据错误，请重新点击！",
                                type: "error"
                            });
                            }
                        })
                       
                    })
                    .catch(() => {
                            this.$message({
                                type: "info",
                                message: "取消操作"
                            });
                    });
            },

        
            // 删除
            handeldelete(id){
                this.$confirm("确定删除吗?", "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                })
                    .then(() => {
                    // 删除
                    cartoonDel({
                        id: id
                        })
                        .then(res => {
                            if (res.data && res.data.code == 0) {
                            this.$message({
                                message: "操作成功",
                                type: "success"
                            });
                            this.initPagedata();
                            } else {
                            this.$message({
                                message:
                                res.data && res.data.msg
                                    ? res.data.msg
                                    : "数据错误，请重新点击！",
                                type: "error"
                            });
                            }
                        })
                       
                    })
                    .catch(() => {
                            this.$message({
                                type: "info",
                                message: "取消操作"
                            });
                    });
            },
            // 加载列表
            initPagedata(){
              cartoonList().then(res => {
                    if (res.data && res.data.code == 0) {
                     this.tableData=res.data.data.content
                     this.select.page=res.data.data.page
                     this.select.pageSize=res.data.data.pageSize
                     this.totalElements=res.data.data.totalElements
                    } else {
                    this.$message({
                        message:
                        res.data && res.data.msg
                            ? res.data.msg
                            : "数据错误，请重新点击！",
                        type: "error"
                    });
                    }
                });
            },
            UploadFiles(file,fileList){
                this.cartoon.file=file.raw               
            },
            
            // 提交
            submit(formName){
                    if(this.cartoon.imgId){
                        this.$refs[formName].clearValidate()
                         let fd=new FormData()
                        for(let key in this.cartoon){
                            fd.append(key,this.cartoon[key])
                        }
                        saveWXcartoon(fd).then(res => {
                            if (res.data && res.data.code == 0) {
                            this.$message({
                                type: "success",
                                message: "操作成功"
                            });
                             this.dialogVisible=false;
                             this.initPagedata()
                            } else {
                            this.$message({
                                message:
                                res.data && res.data.msg
                                    ? res.data.msg
                                    : "数据错误，请重新点击！",
                                type: "error"
                            });
                            }
                        });
                    }else{
                        this.$refs[formName].validate(validate=>{
                            if(validate){
                                //  可以提交
                                let fd=new FormData()
                                for(let key in this.cartoon){
                                    fd.append(key,this.cartoon[key])
                                }
                                saveWXcartoon(fd).then(res => {
                                    if (res.data && res.data.code == 0) {
                                    this.$message({
                                        type: "success",
                                        message: "操作成功"
                                    });
                                    this.dialogVisible=false;
                                    this.initPagedata()
                                    } else {
                                    this.$message({
                                        message:
                                        res.data && res.data.msg
                                            ? res.data.msg
                                            : "数据错误，请重新点击！",
                                        type: "error"
                                    });
                                    }
                                });
                            }else{
                                console.log("error submit!!");
                                return false;
                            }
                        })
                    }
                 
            },
            resetdata(){
                this.cartoon={
                    file:'',
                    id:'',
                    imgLink:'',
                    isShow:''
                }
                this.fileList=[]
            }

      },
      created(){
          this.initPagedata()
      }
}
</script>

<style lang="scss" scoped>
 .listitemImg{
     display: block;
      margin: auto;
      width:152px;
      height: 75px;
    
 }
  .WXsmallroutine{
         
  }
  #imgbox{
      height: auto;
    //   border: 1px solid #a1a3a9;
      margin:auto;
      display: flex;
     .upbox{
       .el-upload{
           width: 148px !important;
       }    
     } 
  }
</style>
<style scope>
.el-upload-list--picture-card .el-upload-list__item
{
   width: 350px
}
 .el-upload{
    width: 350px
}    
</style>