<template>
  <div class="swiper-container">
    <div
      class="swiper-wrapper mycontainer"
      v-if="imgList.length!==0"
    >
      <!-- <slot></slot> -->
      <div
        class="swiper-slide"
        v-for="(item,index) in imgList"
        :key="index"
      >
        <img :src="$Baseimgurlrequst+item.imgId">
      </div>

      <!-- <div class="radius"></div> -->
    </div>
    <div
      class="swiper-wrapper mycontainer"
      v-else
    >
      <div class="swiper-slide">
        <img src="../assets/indexImages/大banner_01.png">
      </div>
      <div class="swiper-slide">
        <img src="../assets/indexImages/大banner_01.png">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</template>
<script>
import Swiper from "swiper";
import { slidesbannerList } from "../api/serve";
export default {
  props: ["imgType"],
  data() {
    return {
      imgList: ""
    };
  },
  methods: {
    initbannerdata() {
      slidesbannerList({ types: this.imgType })
        .then(res => {
          if (res.data.code == 0) {
            this.imgList = res.data.data;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .then(() => {
          this.$nextTick(() => {
            this.initebanner();
          });
        })
        .catch(err => {});
    },
    initebanner() {
      let str = "";
      this.imgType == 0 ? (str = "fade") : (str = "slide");
      var mySwiper = new Swiper(".swiper-container", {
        initialSlide: 0,
        direction: "horizontal",
        loop: true,
        effect: str,
        //  speed:200,
        delay: 5000,
        autoplay: true,
        pagination: {
          el: ".swiper-pagination",
          currentClass: "my-pagination-current"
        },
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true //修改swiper的父元素时，自动初始化swiper
      });
    }
  },
  created() {
    this.initbannerdata();
  }
};
</script>

<style lang="scss" scoped>
// .swiper-container{
//     width: 100%;
//   //  height: 400px;
//    .swiper-slide{
//      height: 500px;
//      overflow: hidden;
//      img{
//       //  width: 100%;
//       // //  height: 100%;
//       transform: scale(1);
//       object-fit: cover;
//      }
//    }
// }
.mycontainer {
  position: relative;
  .radius {
    bottom: 0;
    width: 100%;
    height: 20px;
    //  background-color: yellow;
    z-index: 99999;
    border-radius: 50%;
  }
}
</style>

