<template>
  <div class="mynav" >
    <div class="bigscreen hidden-xs-only">
             <div class="logoindex">
                   <div class="logo-box">
                       <img :src="$Baseimgurlrequst+items.logoImg">
                   </div>
                   <div class="title">
                       <h2>{{conpnayname}}</h2>
                       <p>
                         {{Econpnayname}}
                       </p>
                   </div>
             </div>
            <ul class="zzpnav">
               <li>
                   <router-link to="/index">首页</router-link>
               </li>
                <li  v-for="(item,itemIndex) in navName" :key="itemIndex"
                      
                >
                   <router-link :to="item.link" active-class="activeClass">{{item.name}}</router-link>
               </li>
            </ul>
            <div class=""></div>
    </div>
     
    <!-- 竖着的时候  -->
    <div class="smallscreen hidden-sm-and-up">  
          <div class="sallnav-box">
                  <div class="logoindex">
                   <div class="logo-box">
                       <img :src="$Baseimgurlrequst+items.logoImg">
                   </div>
                   <div class="title hidden-xs-only hidden-sm-only" >
                       <h2>{{conpnayname}}</h2>
                       <p>
                          {{Econpnayname}}
                       </p>
                   </div>
                </div>
                <div class="menu">
                  <i class="el-icon-menu" @click="sallnavshow=!sallnavshow"></i>
                </div>
          </div>
          <div class="smallmenu_mark" :class="sallnavshow?'showmenu':''">
                  <ul>
                       <li>
                          <router-link to='/index'>首页</router-link>
                       </li>
                       <li  v-for="(item,itemIndex) in navName" :key="itemIndex">
                            <router-link :to='item.link'>{{item.name}}</router-link>
                       </li>
                        <li>
                          <i class="el-icon-close" @click="sallnavshow=!sallnavshow"></i>
                        </li>
                  </ul>
         </div>     
    </div>
    
  </div>
    
 
</template>

<script>
import 'element-ui/lib/theme-chalk/display.css';
export default {
  name: "Nav",
  props: ['items'],
  data() {
    return {
      conpnayname:'<--空白-->!!请进后台设置名称',
      Econpnayname:' GUANGZHOU ZHONGZHI PENGCHENG TECHNOLOGY CO.LTD',
      navName: [
        { link: "/news", name: "请设置导航" },
        { link: "/cases", name: "请设置导航" },
        { link: "", name: "请设置导航" },
        { link: "/ContactUs", name: "请设置导航" },    
      ],
      sallnavshow:false, 
    };
  },
  methods: {
   
  },
  mounted() {
    // console.log(this.items)
    if(this.items!==undefined && this.items!=='' && this.items.menusArray.length>0){
         this.navName.map((item,index)=>{
                item.name=this.items.menusArray[index]
         })
    }
    if(this.items.names!==''&&this.items.names!==null){
        
         this.conpnayname=this.items.names 
    }
    if(this.items.englishNames!==''&&this.items.englishNames!==null){
          
         this.Econpnayname=this.items.englishNames
    }
  }
};
</script>
<style lang="scss">
@mixin rounded($param1, $param2, $param3) {
  display: inline;
  //  $param1:$param1;
  -webkit-#{$param1}: $param2;
  -moz-#{$param1}: $param2;
  -ms-#{$param1}: $param2;
  -o-#{$param1}: $param2;
}
#Nav {
  // .el-menu--horizontal > .el-menu-item.homeRouteLink {
  div {
    h1 {
      // font-size: 0.2rem;
      // display: block;
      //  @include rounded(display,block null);
      //  @include rounded(transition,all 0.3s);
    }
    span {
      @include rounded(display, display, block);
      @include rounded(border, border, 5px solid red);
    }
  }
}


.mynav{
  .bigscreen{
      width: 100%;
      padding-top:30px;
      display: flex;

      .logoindex{
          width: 35%;
          // margin-top:30px;
          margin-left: 15px;
          display: grid;
          grid-template-columns: 75px 85%;
          grid-template-rows:60px;
          .logo-box{
             img{
               width: 100%;
               height: 100%;
             }
          }
          .title{
            // background: yellow;
            // position: relative;
          
            padding: 5px 5px;
            h2{
              color: white;
              font-weight: bold;
              text-align: left;
              margin: 0px 0px 5px 0;
              padding: 0;
            }
            p{
               width: 100%;
               color: white;
               font-size: 13px;
               text-align: left;
               line-height: 30px;
              //  position: absolute;
              //  left: 0px;
              //  transform: translate(0px, 0px);
              -webkit-transform-origin-x: 0;
               transform: scale(0.8);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
      }
      .zzpnav{
           flex: 1;
           list-style: none;
           li{
             float: left;
             text-align: center;
             line-height:75px;
             padding:0 20px;
             cursor: pointer;
             a{
               text-decoration: none;
               font-size: 16px;
               color: #fff;
             }
            
           }
           li:hover{
              
              a{
                color:#00d1dd;
              }
           }
      } 
  }
  .bigscreen:hover{
       background-color:rgba(000,000,000,0.4)
  } 
  .smallscreen{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 5px 0px 0px 0px;
     background-color: rgba(000,000,000,0.6);
     justify-content: space-between;
      .sallnav-box{
           display: flex;
            .logoindex{
              width: 80%;
              // margin-top:30px;
              margin-left: 15px;
              display: grid;
              grid-template-columns: 15% 85%;
              grid-template-rows:60px;
                 .logo-box{
                    width: 100%;
                    //  height: 50px;
                    img{
                      transform: scale(0.9)
                      //  height: 100%;
                    }
                  }
                .title{
                  // background: yellow;
                  // position: relative;
                  h2{
                    color: white;
                    font-weight: bold;
                    text-align: left;
                    margin:0;
                    font-size: 1.8rem;
                    padding: 0;
                  }
                  p{
                    margin-top:1rem;
                    width: 100%;
                    color: white;
                    font-size:8px;
                    text-align: left;
                    //  line-height: 30px;
                    //  position: absolute;
                    //  left: 0px;
                    //  transform: translate(0px, 0px);
                    -webkit-transform-origin-x: 0;
                    transform: scale(0.8);
                  }
                }
          }
          .menu{
            width: 10vw;
            text-align: center;
            .el-icon-menu{
              line-height: 60px;
                color: #ffff;
                font-size:35px;
            }
          }
         
      }
      .smallmenu_mark{
         transition:all 3s;
         background-color: rgba(000,000,000,0.6);
         height: 0;
         overflow: hidden;
         ul{
           list-style: none;
           li{
               text-align: center;
               line-height: 40px;
               a{
                 color: #ffff;
               }
               .el-icon-close{
                 font-size: 35px;
                 color: #ffff;
               }
           }
         }
      }
    .showmenu{
      height: auto;
    }
  }
}

 .activeClass{
    color: #00d1dd;
}

</style>
<style>
.activeClass{
    color: #00d1dd;
}

</style>
