@charset "UTF-8";
html,
body {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  background: #ffffff;
}

form,
fieldset {
  border: 0 none;
}

ol,
ul li {
  list-style: none;
}

img {
  border: 0 none;
  max-width: 100%;
}

input,
select {
  outline: none;
  font-family: "Microsoft YaHei";
}

textarea {
  resize: none;
}

button {
  outline: none;
  border: 0;
  font-family: "Microsoft YaHei";
}

i,
em {
  font-style: normal;
}

a {
  color: #535353;
  text-decoration: none;
}

a:hover, a.active, a:focus {
  text-decoration: none;
}

svg {
  width: 1.375rem;
  height: 1.375rem;
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

body {
  position: relative;
  margin: 0;
}

html {
  font-size: 6.25%;
  /*100 ÷ 16 × 100% = 625%*/
}
